<!DOCTYPE html>
<html>
<%- partial('casper/head') %>
<!--<% if (typeof page.title == 'undefined') { %>
<body class="home-template">
<% } else { %>
<body class="post-template">
<% } %>-->
<body class="home-template">
<div id="perspective" class="perspective effect-movedown">
  <div class="container">
    <!-- wrapper -->
    <div class="wrapper">
      <%- partial('casper/header') %>
      <%- body %>
      <%- partial('casper/footer') %>
      <%- partial('casper/after_all') %>
    </div>
  </div>
</div>
</body>
</html>
